/* Ethan Lawrence
March 8 2024
Majorville Project  */

/* General Style */
:root {
    --primary: #cc4536;
    --secondary: #495c63;
    --blank: #fdf8e1;
    --dark: #263940;
    --darkest: #0f2128;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blank);
    color: var(--dark);

    font-family: "Baloo Bhaijaan 2", sans-serif;
}

h1, h2, h3 {
    color: var(--darkest);
    font-family: "Francois One", sans-serif;
}


/* grid */
.wrapper {
    margin: 10px;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "nav    nav     nav" 
    "header hearder header"
    "aside  main    main"
    "aside  main    main"
    "footer footer  footer";

}
.area {
    padding: 10px;
}

/* nav */
nav {
    grid-area: nav;
}

nav ul {
    display: grid;
    padding: 0;
    gap: 10px;
    list-style-type: none;
    grid-template-columns: repeat(4, 1fr);
}
nav a {
    background-color: var(--darkest);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;

    color: #fff;
    text-transform: capitalize;
    font-size: 1.5rem;

    border-radius: 10px;
}
nav a:hover {
    background-color: var(--primary);
}

.logo {
    max-width: 50%;
}

/* Specifics */
header {
    grid-area: header;

    background-image: url(#);
    background-repeat: no-repeat;

    height: 9rem;
    padding-bottom: 1em;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
img {
    object-fit: cover;
}