/* Ethan Lawrence
March 8 2024
Majorville Project  */

/* General Style */
:root {
    --primary: #cc4536;
    --secondary: #495c63;
    --blank: #fdf8e1;
    --dark: #263940;
    --darkest: #0f2128;
    font-size: 18px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blank);
    color: var(--dark);

    font-family: "Baloo Bhaijaan 2", sans-serif;
}

h1, h2, h3 {
    color: var(--darkest);
    font-family: "Francois One", sans-serif;
}

/* grid */

.wrapper {
    display: grid;

    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-areas:
    "logo    nav     nav" 
    "header header header"
    "aside  aside    main"
    "footer footer  footer";
}
.area {
    padding: 10px;
    margin: 5px 20px 0px 20px;
}

/* nav */

nav {
    grid-area: nav;
    display: grid;
    align-items: center;

    background-color: #ba8a59;
}

nav ul {
    display: grid;

    padding: 0;
    gap: 10px;
    list-style-type: none;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(min(150px, 1fr));
}
nav li a {
    background-color: var(--darkest);
    border-radius: 10px;

    display: block;
    text-decoration: none;

    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}
nav li a:hover {
    background-color: var(--primary);
}

.logo {
    grid-area: logo;

    display: grid;
    justify-content: center;

    background-color: #ba8a59;
}
.logo img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;

}

/* Specifics */

    /* Header */
header {
    grid-area: header;

    background-image: url(sunset-1800-400.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 20rem;
    padding-bottom: 1em;
    text-align: center;
}
header h1 {
    font-size: 5rem;
}

    /* Aside */
aside {
    grid-area: aside;
}

    /* Main */
main {
    grid-area: main;
}

    /* Footer */
footer {
    /* spacing */
    height: 5vh;
    grid-area: footer;
    text-align: center;

    /* colors */
    background-color: var(--secondary);
    color: var(--blank);
}



/* Images */
figure {
    float: right;
    display: inline;
    width: min(50%, 600px);

    margin-left: 10px;

        /* Border for image */
    background-color: var(--darkest);
    padding: 10px;
}
figure .img {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

figcaption, .attribution {
    color: var(--secondary);
}
figcaption a, .attribution a {
    color: var(--primary);
}

/* Very Specifics */
li {
    margin-bottom: 0.5rem;
}
a .food-truck {
    color: var(--primary);
    font-weight: bold;
}
.this-page {
    font-weight: bold;
    color: #eee;
}

header .attribution {
    margin-top: 10rem;
    font-weight: bold;
}

@media (width < 900px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto 1fr auto;
        grid-template-areas: 
        "logo"
        "nav"
        "header"
        "main"
        "aside"
        "footer";
    }

    nav {
        padding: 0 5VW;
    }
    nav ul {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    header {
        background-image: url(sunset.jpg);
    }

    h2, .food-truck {
        text-align: center;
    }
}