/* Ethan Lawrence
March 8 2024
Majorville Project  */

/* General Style */
:root {
    --primary: #cc4536;
    --secondary: #495c63;
    --blank: #fdf8e1;
    --dark: #263940;
    --darkest: #0f2128;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blank);
    color: var(--dark);

    font-family: "Baloo Bhaijaan 2", sans-serif;
}

h1, h2, h3 {
    color: var(--darkest);
    font-family: "Francois One", sans-serif;
}


/* grid */
.wrapper {
    margin: 10px;

    display: grid;
    
    grid-template-rows: auto auto 1fr 1fr auto;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 25% 1fr 1fr;
    grid-template-areas:
    "logo    nav     nav" 
    "header header header"
    "aside  main    main"
    "aside  main    main"
    "footer footer  footer";

}
.area {
    padding: 10px;
}

/* nav */
nav {
    grid-area: nav;
    border-bottom: 2px dashed var(--secondary);
    display: grid;
    align-items: center;
  
   
}

nav ul {
    display: grid;
    padding: 0;
    gap: 10px;
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: min(20vh, 200px); */
    grid-template-rows: repeat(min(150px, 1fr));

    
}
nav li a {
    background-color: var(--darkest);
    display: block;
    text-decoration: none;

    text-align: center;

    color: #fff;
    font-size: 1.5rem;

    border-radius: 10px;
}
nav li a:hover {
    background-color: var(--primary);
}
.logo {
    grid-area: logo;
    display: grid;
    justify-content: center;
}
.logo img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;

}

/* Specifics */
header {
    grid-area: header;

    /* background-image: url(sunset.jpg); */
    background-repeat: no-repeat;
    background-size: contain;

    height: 20rem;
    padding-bottom: 1em;

    text-align: center;

    border-bottom: 2px dashed var(--secondary);
}
header h1 {
    font-size: 5rem;
}

aside {
    grid-area: aside;
    border-right: 2px dashed var(--secondary);
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    border-top: 2px dashed;
}

figure {
    float: right;
}
figure .img {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    width: min(50%, 500px);
}
figcaption {
    display: inline;
}


@media (width < 900px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "logo"
        "nav"
        "header"
        "aside"
        "main"
        "footer";
    }

    nav ul {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}